#bodyy{
    padding:20px;
   
}


.cards{
    padding:30px;
    display: flex;
    
}

#home{
    display: flex;
}
.mapandtable{

    display: flex;

    padding-right:300px
    
    

    
}
